/*設定全部的margin跟padding*/
* {
    margin: 0;
    padding: 0;
}

/*設定所有圖片的邊框為0*/
img {
    border: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #7f5539;
}

nav {
    display: flex;
    gap: 40px;
    font-size: 23px;
}

/*nav的連結*/
nav a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s;
}

/*nav的動畫*/
nav a:hover {
    color: #dea360;
    text-decoration: none;
}

p{
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 15px;
    margin-left: 26.7%;
    color: white;
}

.logout{
    position: relative;
}

body {
    background-color: #ede0d4;
}

.title{
    text-align: center;
    font-size: 34px;
    font-weight: 900;
    padding-top: 10px;
    font-size: 32px;
    margin-top: 10px;
}
.title:hover{
    color:#836c56cd;
}


select {
    background: white;
    border: 1px solid;
    margin-bottom: 25px;
    width: 160px;
    height: 40px;
    padding: 8px;
    position: relative;
    border-radius: 10px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M7%2010l5%205%205-5z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(white,white);
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M7%2010l5%205%205-5z%22%2F%3E%3C%2Fsvg%3E"), -webkit-linear-gradient(white,white);
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M7%2010l5%205%205-5z%22%2F%3E%3C%2Fsvg%3E"), -moz-linear-gradient(white,white);
    background-position: right 0.5em top 50%, 0 0;
    background-size: contain, cover;
    background-repeat: no-repeat, repeat;
}

.all{
    text-align: center;
}

.btn-group{
    font-size: 0;
    margin-top: 50px;
    text-align: center;
}

.btn{
    font-size: 18px;
    border-radius: 50px;
    border: none;
    background-color: black;
    width: 80px;
    height: 40px;
    padding: 0;
    color: #fff;
    font-family: "cwTeXYen", sans-serif;
}

.btn a{
    text-decoration: none;
}

.btn{
    margin-top: 20px;
    margin-left: 20px;
}

.btn:hover{
    background-color: gray;
}

#alter{
    width: 20%;
    height: 20%;
}

footer {
    background-color: #ede0d4;
    font-size: 14px;
    font-weight: 200;
    line-height: 1em;
    padding: 20px;
}