/*設定全部的margin跟padding*/
* {
    margin: 0;
    padding: 0;
}

/*設定所有圖片的邊框為0*/
img {
    border: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #7f5539;
}

nav {
    display: flex;
    gap: 10px;
}

/*nav的連結*/
nav a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s;
}

/*nav的動畫*/
nav a:hover {
    color: #dea360;
    text-decoration: none;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
}



/*回TOP*/
.pagetop {
    text-align: right;
}

/*版權*/
.copyright {
    border-top: solid 5px #A16F36;
    text-align: center;
    padding-top: 20px;
}

footer {
    background-color: #ede0d4;
    font-size: 14px;
    font-weight: 200;
    line-height: 1em;
    padding: 20px;
}

body {
    background-color: #ede0d4;
}

.login {
    width: 30%;
    background: hsl(27, 31%, 55%);
    text-align: center;
    color: #fff;
    border-radius: 10px;
    padding: 30px;
    margin: 10% 35% 10% 35%;
}

.login i {
    font-size: 100px;
    margin: 20px auto;
}

input[type="text"],
input[type="password"] {
    font-size: 16px;
    padding: 5px;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    width: 40%;
}

button {

    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: #7f5539;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

h2 {
    margin: 10px;
}